@font-face {
  font-family: "AmazonEmber-Regular";
  src: url("https://images-na.ssl-images-amazon.com/images/G/01/sinatra/btw/Amazon_Ember_Rg.ttf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AmazonEmber-Regular";
  src: url("https://images-na.ssl-images-amazon.com/images/G/01/sinatra/btw/Amazon_Ember_RgIt.ttf") format("opentype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "AmazonEmber-Light";
  src: url("https://images-na.ssl-images-amazon.com/images/G/01/sinatra/btw/Amazon_Ember_Lt.ttf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AmazonEmber-Light";
  src: url("https://images-na.ssl-images-amazon.com/images/G/01/sinatra/btw/Amazon_Ember_LtIt.ttf") format("opentype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "AmazonEmber-Bold";
  src: url("https://images-na.ssl-images-amazon.com/images/G/01/sinatra/btw/Amazon_Ember_Bd.ttf") format("opentype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "AmazonEmber-Bold";
  src: url("https://images-na.ssl-images-amazon.com/images/G/01/sinatra/btw/Amazon_Ember_BdIt.ttf") format("opentype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "AmazonEmber-Thin";
  src: url("https://images-na.ssl-images-amazon.com/images/G/01/sinatra/fonts/AmazonEmber_Th.ttf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AmazonEmber-Thin";
  src: url("https://images-na.ssl-images-amazon.com/images/G/01/sinatra/fonts/AmazonEmber_ThIt.ttf") format("opentype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "AmazonEmber-CondensedLight";
  src: url("https://images-na.ssl-images-amazon.com/images/G/01/sinatra/fonts/AmazonEmberCd_Lt.ttf") format("opentype");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: "AmazonEmber-CondensedLight";
  src: url("https://images-na.ssl-images-amazon.com/images/G/01/sinatra/fonts/AmazonEmberCd_LtIt.ttf") format("opentype");
  font-weight: lighter;
  font-style: italic; }

@font-face {
  font-family: "AmazonEmber-CondensedThin";
  src: url("https://images-na.ssl-images-amazon.com/images/G/01/sinatra/fonts/AmazonEmberCd_Th.ttf") format("opentype");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: "AmazonEmber-CondensedThin";
  src: url("https://images-na.ssl-images-amazon.com/images/G/01/sinatra/fonts/AmazonEmberCd_ThIt.ttf") format("opentype");
  font-weight: lighter;
  font-style: italic; }

@font-face {
  font-family: "AmazonEmber-Heavy";
  src: url("https://images-na.ssl-images-amazon.com/images/G/01/sinatra/fonts/AmazonEmber_He.ttf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "AmazonEmber-Heavy";
  src: url("https://images-na.ssl-images-amazon.com/images/G/01/sinatra/fonts/AmazonEmber_HeIt.ttf") format("opentype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Bookerly-Bold";
  src: url("https://m.media-amazon.com/images/G/01/Kindle/Edu/AmazonEducators/Fonts/Bookerly/Bookerly-Bold.ttf") format("opentype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Bookerly-Bold";
  src: url("https://m.media-amazon.com/images/G/01/Kindle/Edu/AmazonEducators/Fonts/Bookerly/Bookerly-BoldItalic.ttf") format("opentype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "Bookerly-Regular";
  src: url("https://m.media-amazon.com/images/G/01/Kindle/Edu/AmazonEducators/Fonts/Bookerly/Bookerly-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Bookerly-Regular";
  src: url("https://m.media-amazon.com/images/G/01/Kindle/Edu/AmazonEducators/Fonts/Bookerly/Bookerly-Italic.ttf") format("opentype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Bookerly-Light";
  src: url("https://m.media-amazon.com/images/G/01/sinatra/fonts/BookerlyLCD_Lt.ttf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Bookerly-Light";
  src: url("https://m.media-amazon.com/images/G/01/sinatra/fonts/BookerlyLCD_LtIt.ttf") format("opentype");
  font-weight: normal;
  font-style: italic; }
