@use 'sass:math'

$sqrt2: math.sqrt(2)
$gradient-timing-function: cubic-bezier(.77,0,.18,1)

$gradient-scale: 2

@mixin gradient-common
  position: absolute

  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

  //height: max(calc(100vh * #{$sqrt2}), calc(100vh * #{$sqrt2}))
  // 1.5 is ~sqrt(2)
  height: max(calc(100vh * #{$gradient-scale}), calc(100vw * #{$gradient-scale}))
  width: max(calc(100vh * #{$gradient-scale}), calc(100vw * #{$gradient-scale}))

  z-index: -1


.app
  position: relative
  height: 100%

  --g1-1: red
  --g1-2: blue

  --g2-1: transparent
  --g2-2: black

  overflow: hidden

  font-size: 48px

  .gradient-1
    @include gradient-common

    background-image: linear-gradient(var(--g1-1), var(--g1-2))

    animation: gradient-1 8s $gradient-timing-function infinite

  .gradient-2
    @include gradient-common

    background-image: linear-gradient(var(--g2-1), var(--g2-2))

    animation: gradient-1 8s $gradient-timing-function infinite
    animation-direction: reverse
    animation-delay: -4s


@keyframes gradient-1
  from
    transform: translate(-50%, -50%) rotate(0)
  to
    transform: translate(-50%, -50%) rotate(360deg)

