html {
  --color-1: black;
  --color-2: white;

  background-color: var(--color-1);
  color: var(--color-2);

  * {
    transition: all 500ms;
    text-transform: uppercase;
  }
}

.app {

  * {
    transition: width 0ms, font-size 0ms ;
  }

  width: 100vw;
  font-size: 20vmin;

  &--tool-selected {
    width:33vw;
    font-size: 5vmin;
  }

  &__main {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    display: block;
    padding: 10vmin;
    color: inherit;
    text-decoration: none;
  }

  h1:hover {
    pointer: cursor;
    background-color: var(--color-2);
    color: var(--color-1);
  }
}
