
.app
  position: relative
  height: 100%

  --g1: red
  --g2: yellow

  overflow: hidden

  font-size: 48px

  .gradient
    position: absolute

    height: max(100vh, 100vw)
    width: max(100vh, 100vw)

    z-index: -1

    background-image: linear-gradient(var(--g1), var(--g2))

    animation: gradient 4s linear infinite

@keyframes gradient
  from
    transform: rotate(0)
  to
    transform: rotate(360deg)

