.medium-clap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clap-button {
  background-color: unset;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.clap-svg {
  width: 25vmin;
  height: 25vmin;

  &.--off {
    fill: #bbb;
    &:hover {
      fill: #eee;
    }
  }

  &.--on {
    fill: #eee;
    &:hover {
      fill: #bbb;
    }

  }
}

.clap-icon {
  &.--bounce {
    animation-name: bounce;
    animation-duration: var(--bounce-duration);
  }
}
