.vella-like {


  &, * {
    box-sizing: border-box;
  }

  .like-svg {
    height: 100%;
    width: 100%;

		display: block;
    path {
			fill: var(--color);
      filter: drop-shadow( -5px -5px 5px white  );
    }
  }


  --animation-duration: .8s;
  //--animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1); // easeOutBack
  //--animation-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);

  //--animation-timing-function: cubic-bezier(0, 0, 0, 1);

  // @keyframes like-button-on {
  //   0% {
  //     transform: scale(1);
  //   }
  //   33% {
  //     transform: scale(.8) rotate(-20deg);
  //   }
  //   66% {
  //     transform: scale(1) rotate(5deg);
  //   }
  //   100% {
  //     transform: scale(1);
  //   }
  // }
  @keyframes like-button-on {
    0% {
      transform: scale(1);
    }
    33% {
      transform: scale(.8) rotate(-20deg);
    }
    66% {
      transform: scale(1) rotate(5deg);
    }
    100% {
      transform: scale(1);
    }
  }

  .like-button {
    --color: #002F36;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    position: relative;
    background-color: transparent;
    outline: none;
    margin: 0;
    cursor: pointer;

    width: 50vmin;
    height: 50vmin;
    border: none;
    border-radius: 100%;

    overflow: hidden;

    background: 
      linear-gradient(-45deg, #B3F4F5 26%, #64C9F3 74%, #418FDE 96%);
  }

  .inner {
    position: relative;
    height: 50%;
    width: 50%;

    animation-fill-mode: forwards;
    animation-duration: var(--animation-duration);

    --sparkle-animation-delay-scalar: 0;
    &.--on {
      --sparkle-animation-delay-scalar: 1;
      animation-name: like-button-on;
    }
    &.--off {
    }

  }

  // @keyframes sparkle-on {
  //   0%,33% {
  //     opacity: 0;
  //     transform: rotate(-120deg);
  //   }
  //   50% {
  //     opacity: 1;
  //   }
  //   66% {
  //     transform: rotate(calc(var(--rotate) + 10deg));
  //   }
  //   100% {
  //     opacity: 1;
  //     transform: rotate(var(--rotate));
  //   }
  // }

  // @keyframes sparkle-off {
  //   0% {
  //     opacity: 1;
  //     transform: scale(1) rotate(var(--rotate));
  //   }
  //   25% {
  //     opacity: 0;
  //   }
  //   50% {
  //     opacity: 0;
  //     transform: scale(0) rotate(var(--rotate));
  //   }
  // }

  .sparkle {
    position: absolute;

    width: 6.5%;
    height: 18%;

    left: 51%;
    top: 7%;

    // & > div {
    //   position: absolute;
    //   top: 0;
    //   width: 100%;
    //   height: 100%;
    //   //background-color: var(--color);
    //   background-color: var(white);

    //   border-radius: 0px;
    //   transform-origin: 50% 230%;

    //   animation-name: var(--sparkle-animation-name);
    //   animation-duration: var(--animation-duration);
    //   animation-fill-mode: forwards;
    //   //animation-timing-function: cubic-bezier(0, 0, 0, 1);

    //   //opacity: 0;
    //   animation-delay: calc(var(--animation-delay) * var(--sparkle-animation-delay-scalar));

    //   --base-rotate: 0deg;

    //   &:nth-child(1) {
    //     --rotate: calc(var(--base-rotate) + 0deg);
    //     --animation-delay: 0;
    //   }
    //   &:nth-child(2) {
    //     //--rotate: -40deg;
    //     --rotate: calc(var(--base-rotate) + -40deg);
    //     //--animation-delay: 200ms;
    //     --animation-delay: 0;
    //   }
    //   &:nth-child(3) {
    //     //--rotate: -80deg;
    //     --rotate: calc(var(--base-rotate) + -80deg);
    //     //--animation-delay: 400ms;
    //     --animation-delay: 0;
    //   }
    // }
  }

  @keyframes sparkle-on {
    0%,33% {
      transform: rotate(60deg) translateY(var(--translate-y));
      opacity: 0;
    }
    50% {
    }
    66% {
      opacity: 1;
      transform: rotate(calc(var(--rotate-on) + 10deg)) translateY(var(--translate-y));
    }
    100% {
      transform: rotate(var(--rotate-on)) translateY(var(--translate-y));
    }
  }

  @keyframes sparkle-off {
    0% {
      transform: rotate(var(--rotate-on)) translateY(var(--translate-y));
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: rotate(var(90deg)) translateY(var(--translate-y));
    }
  }

  .sparkle.--on > div {
    animation-name: sparkle-on;
  }

  .sparkle.--off > div {
    animation-name: sparkle-off;
  }

  .sparkle > div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;

    --rotate: 0deg;
    --translate-scalar: 1.6;
    --translate-y: calc(var(--translate-scalar) * 100%);
    background-color: var(--color);

    animation-duration: var(--animation-duration);
    animation-fill-mode: forwards;
    animation-timing-function: var(--animation-timing-function);
    //animation-delay: 50ms;
  }

  .sparkle > div:nth-child(1) {
    --rotate-on: calc(90deg + 10deg);
    --n: 0;
  }

  .sparkle > div:nth-child(2) {
    --rotate-on: calc(90deg + 50deg);
    --n: 1;
  }

  .sparkle > div:nth-child(3) {
    --rotate-on: calc(90deg + 90deg);
    --n: 2;
  }

}
