.vella-like {

  --color: #eee;

  &, * {
    box-sizing: border-box;
  }

  .like-svg {

		display: block;
		height: 100%;
    margin: 0 auto;
    path {
			fill: var(--color);
    }
  }

  .like-button {
    position: relative;
    background-color: unset;
    border: none;
    outline: none;
    margin: 0;
    cursor: pointer;

    width: 50vmin;
    height: 50vmin;
    border: 1vmin solid #eee;
    border-radius: 100%;
    padding: 25%;

    --sparkle-animation-name: sparkle-off;
    --sparkle-animation-delay-scalar: 0;
    &.--on {
      --sparkle-animation-name: sparkle-on;
      --sparkle-animation-delay-scalar: 1;
    }

  }

  @keyframes sparkle-on {
    0% {
      opacity: 0;
      transform: rotate(-120deg);
    }
    100% {
      opacity: 1;
      transform: rotate(var(--rotate));
    }
  }

  @keyframes sparkle-off {
    0% {
      opacity: 1;
      transform: rotate(var(--rotate));
    }
    50% {
      opacity: 0;
    }
    100% {
      transform: rotate(-120deg);
    }
  }

  .sparkle {
    position: absolute;
    width: 3%;
    height: 11%;
    top: 11%;
    left: 50%;

    & > div {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color);

      border-radius: 2px;
      transform-origin: 50% 200%;

      animation-name: var(--sparkle-animation-name);
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0, 0, 0, 1);

      opacity: 0;
      animation-delay: calc(var(--animation-delay) * var(--sparkle-animation-delay-scalar));

      &:nth-child(1) {
        --rotate: 0deg;
        --animation-delay: 0;
      }
      &:nth-child(2) {
        --rotate: -40deg;
        --animation-delay: 200ms;
      }
      &:nth-child(3) {
        --rotate: -80deg;
        --animation-delay: 400ms;
      }
    }
  }

}
